body {

    background-color:rgba(0, 0, 0, 0.925);
    color: white;
    font-family: arial;
    margin: 0;
}
 
/* encabezado */
header {
display: flex;
justify-content: space-between;
align-items: center;
background: black;
padding: 15px;
}
nav  a {
    color: white;
    margin: 20px;
    text-decoration: none;

}
.cartelera{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}
.pelicula{
    background: #222;
    padding: 10px;
    text-align: center;

}
.pelicula img{
    width: 100%;
   
}
button{
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
/* responsive */
@media (max-width: 900px) {
    .cartelera {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .cartelera {
        grid-template-columns: 1fr;
    }
}
.Serie{
    background: #222;
    padding: 10px;
    text-align: center;

}
.Serie img{
    width: 100%;
   
}